s3fs==0.4.2
s3transfer==0.5.0

cloudpickle==1.6.0
Jinja2==3.0.3
jupyter==1.0.0
mlflow==1.29.0

python-dotenv==1.0.0
matplotlib==3.3.4
seaborn==0.12.0
pandas==1.4.2
xlrd==2.0.1
openpyxl==3.0.9
scikit-learn==1.1.1
scikit-optimize==0.9.0
sklearn-evaluation==0.5.9
tubular==0.3.2
sklearn-evaluation==0.5.9
Faker==18.7.0

xgboost==1.5.1
imbalanced-learn==0.8.1
lightgbm==3.3.2
sqlalchemy==1.4.35
pyhive[presto]==0.6.5 
category_encoders==2.5.0
optuna==3.3.0